body {
    margin: 0;
}

.meme {
    position: relative;
    width: 100%;
    margin-top: 1.2em;
    text-align: center;
}

.meme > img {
    width: 60%;
    max-width: 30em;
    max-height: 30em;
    margin-top: 7em;
    justify-content: left;
    background-repeat: no-repeat;
}

.meme > h2 {
    position: absolute;
    max-width: 36em;
    align-items: center;
    margin: 3em;
    padding: 0 0px;
    text-transform: uppercase;
}

.meme > .instruction {
    position: absolute;
    justify-content: right;
    margin: 3em;
    padding: 0 0px;
}

.meme-rand {
    width: 90%;
    margin: 1.4em 0em 1em 1.4em;
    display: inline-block;
    justify-content: space-between;
}

.meme-rand > button {
    height: 2.1em;
    width: 8em;
    margin: 1em;
    border: 3px rgb(221, 210, 210) solid;
    justify-content: center;
    font-family: VT323, monospace;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: white;
    background: rgb(138, 32, 32);
}
.meme-rand > button:hover {
    background: rgba(138, 32, 32, 0.8);
}